/frontend/node_modules
/frontend/build
/backend/node_modules
/backend/.env
/backend/public/gallery
/backend/public/category
/backend/public/course
/backend/public/user
/backend/public/blog
/nbproject
/.git
