@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border: none;
    max-width: 100%;
    width: auto;
    height: auto;
}

a,
li {
    text-decoration: none !important;
    color: #313030;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

ul li {
    list-style: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #004dda;
}

input,
select,
textarea {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      font-weight: 600;
  font-family: 'Poppins', sans-serif;
    color: #000;
}
/*****inner css*****/
.content-gray-wpr,section.list_sec {
    text-align: center;
}
.syllabus-heading {
    font-size: 24px;
    padding: 25px 0 10px 0;
    font-weight: 700;
}
section.list_sec {
    background: #f9f9f9;
}
.list_inner{
    text-align: left;
}
.list_cols {
    max-width: 1000px;
    margin: 0 auto 40px;
}

.list_inner ul li {
    list-style: disc;
    margin-left: 18px;
}
.react-phone-number-input__icon img {
    vertical-align: top;
}
.react-phone-number-input__icon svg {
    vertical-align: top;
}
.card-body.p-0 input[type="tel"] {
    border: none !important;
}
.user input[type="tel"] {
    border: none !important;
}
/*****end inner css******/
/********box css************/
/*.plp-wrapper {
    background: #f6f6f6;
    border-bottom: solid 2px #d8dadb;
    margin-bottom: 30px;
    min-height: 500px;
    overflow: hidden;
}*/
.plp-wrapper {
    overflow: hidden;
}
.plp-wrapper .content-holder span > p:last-child {
    margin-bottom: 0px;
}
.plp-wrapper .cta-holder a:hover {
    color: #fff !important;
}
.plp-wrapper .cta-holder {
    position: relative;
    text-align: center;
}
.plp-wrapper .cta-holder figure {
    background-color: #1f2222;margin: 0;
}

.plp-wrapper .cta-holder .cta {
    background-color: #1f2222;
    height: 100%;
    opacity: 0;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.plp-wrapper .cta-holder .cta span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    left: 0;
    margin: 0 auto;
    text-align: center;
    right: 0;
}

.bg-auth-image {
  background: url("/images/auth-bg.jpg");
  background-position: center;
  background-size: cover;
}
.bg-contact-image {
  background: url("/images/contact-bg.jpg");
  background-position: center;
  background-size: cover;
}
.btn.btn-ghost {
    background-color: transparent;
    border: solid 2px #fff;
     color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}
.btn.btn-ghost:hover{
    border-color: #004dda;
    color: #004dda;
}
.plp-wrapper .content-holder {
    padding: 38px 35px;
}
.plp-wrapper .content-holder p {
    color: #7b8b8e;
    font-size: 14px;
    line-height: 1.714285714285714;
    margin-bottom: 26px;
    display: block;
    display: -webkit-box;
}
.plp-wrapper .content-holder .period {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}
.plp-wrapper .content-holder h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333333333333333;
    margin-bottom: 26px;
    width: 100%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.plp-wrapper:hover .cta-holder .cta {
    background-color: rgba(31,34,34,.9);
    opacity: 1;
    top: 0;
}
/***end box-css******/
[tooltip]{ position:relative;display:inline-block; }
[tooltip]::before { content: "";position: absolute;top:-6px;left:50%;transform: translateX(-50%);border-width: 4px 6px 0 6px;border-style: solid;border-color: rgba(0,0,0,0.7) transparent;z-index: 99;opacity:0; }
[tooltip]::after{ content: attr(tooltip);position: absolute;left:50%;top:-6px;transform: translateX(-50%) translateY(-100%);background: rgba(0,0,0,0.7);text-align: center;color: #fff;padding:4px 2px;font-size: 11px;min-width:46px;border-radius: 5px;pointer-events: none;padding: 4px 4px;z-index:99;opacity:0; }
[tooltip]:hover::after,[tooltip]:hover::before { opacity:1; }
#certificate .cert-content {
    width: 100%;
    height: auto;
    padding: 50px 20px;
    text-align: center;
    border: 1px dashed #004dda;
    font-family: 'Lato', sans-serif;
    color: #555;
    float: left;
}
#certificate {
    width: 100%;
    height: auto;
    padding: 8px;
    text-align: center;
    border: 5px solid #004dda;
    float: left;
    background: url('/images/certificate_bg.jpg');
    background-size: cover;
    min-width: 700px;
}
#certificate .cert-sm-txt.subtext {
    font-size: 22px;
    position: relative;
    top: -7px;
    font-weight: 300;
}
.logoimg{max-width: 160px}
span.certificatename {
    font-weight: bold;
    color: #444;
    margin: 10px 0;
    display: inline-block;
}
.score_line{
    margin: 7px 0;
    display: inline-block;
}
.medipharm_color{
    color: #004dda;
    font-weight: bold;
}
#certificate .cert-lg-txt b {
    font-family: 'Courgette', cursive;
    font-size: 36px;
}
.profile_main .p-5 .nxt_btn.print {
    position: relative;
    margin-bottom: 20px;
    float: right;
}
#certificate .cert-title { font-size:50px; font-weight:bold;  margin-top: 15px; float: left; width: 100%; color: #444; font-family: 'Courgette', cursive;}
#certificate .cert-lg-txt { font-size:24px;float: left;width: 100%; }
#certificate .cert-sm-txt { font-size:18px; }
.title h2 {
    margin-bottom: 45px;
}
.gray-box .row > div {
    background: #f6f6f6;
    background-clip: content-box;
    margin-bottom: 30px;
}
.profile_main .p-5 .user .col-sm-6 {
    width: 100%;
    max-width: 100%;
    flex: 1 1 auto;
}
.profile_main .p-5 #output {
    padding-left: 20px;
}
.row.home-explore-info.pad-40-t > div {
    border: 1px solid #ccc;
    margin-bottom: 25px;
    background: #f9f9f9;
    display: inline-block;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 45%;
    max-width: 45%;
    flex: 1 1 auto;
}
.row.home-explore-info.pad-40-t {
    justify-content: center;
}
.navbar { z-index: 999; }
.loader { position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(/images/loader.gif) center no-repeat #fff; }
.home-page-Video { padding-bottom: 70px; }
@media (min-width: 1200px){
.container {
    max-width: 1440px;
    width: 100%;
}
section.learn-interest-wpr,section.future-wpr{
    background-attachment: fixed;
}
}
.header-wrap {
    background: #004dda;
}
.social_icon ul li {
    display: inline-block;
    font-size: 17px;
    margin-right: 18px;
}
.social_icon a {
    color: #fff;
}
.social_icon ul {
    margin: 0;
}
.social_icon ul li:last-child{
    margin: 0;
}
.social_icon ul li i {
    color: #fff;
}
.social_icon {
    display: flex;
    padding: 5px 0px;
    justify-content: flex-start;
}
a.navbar-brand img {
    max-width: 150px;
}
span.desktop-cta a{
    background-color: #004dda;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: .05em;
        min-width: 200px;
    padding: 14px 42px;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-clip: padding-box;
}
nav.navbar {
    background: #f4f4f4;
    box-shadow: 0 1px 1px rgba(0,0,0,.18);
}

a.btn:hover {
    background: #1f2222;    color: #fff;
}
section.hero-banner {
    background-image:url('/images/medi-default.jpg');
    min-height: initial !important;
    padding: 12% 0;
    position: relative;
}
.modal-wrap .modal-table {
    text-align: center;
    width: 100%;
}
 .homebanner-info {
    text-align: center;
}
.homebanner-info h2 {
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #fff;
    position: relative;
z-index: 99;
}
.homebanner-info a {
    position: relative;
    z-index: 99;
}
 .frontApp .btn {
    background-color: #004dda;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: .05em;
        min-width: 200px;
    padding: 14px 42px;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-clip: padding-box;
}
 .homebanner-info a {
    margin-bottom: 10px;
    font-size: 14px;
    margin: 30px 10px 0 0;
    display: inline-block;
}
.pad-70-tb {
    padding-bottom: 70px;
    padding-top: 70px;
}
.title h2 {
    color: #004dda;
    font-weight: 600;
    font-size: 48px;
}
.title span {
    color: #1f2222;
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}
.home-explore-box .icon-box {
    width: 90px;
    height: 90px;
    padding: 17px 0;
    margin: 0 auto 30px;
    border: 5px solid #f2f2f2;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    float: left;
}
.home-explore-box .icon-box img {
    display: block;
    margin: auto;
    max-width: 46px;
}
.home-explore-info .home-explore-box .info-box {
    float: left;
    width: 68%;
    padding-left:15px;
}
.info-box h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
 .info-box a {
    font-weight: 700;
    text-decoration: underline !important;
}
section.learn-interest-wpr {
       background-image: url('/images/college-home-interest.jpg');
    background-size: cover;
    background-position: center;
}
.learn-interest-wpr .learn-interest-inner-wpr {
    margin: 50px auto;
    float: right;
}
.learn-interest-wpr .learn-interest-inner-wpr .learn-interest-inner-box .learn-interest-info {
    background-color: #fff;
    width: 450px;
    outline: 2px solid #004dda;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    outline-offset: -20px;
}
.pad-70-all {
    padding: 70px;
}
.learn-interest-inner-box .learn-interest-info p {
    margin-bottom: 50px;
}
section.where-do-wpr .row {
    align-items: center;
}
.graduate-wpr-rt p {
    padding-top: 30px;
}
section.future-wpr {
    background-image: url('/images/cl-bg.jpg');
     background-size: cover;
    background-position: center;
}
.testimonial_outer .carousel-item .slide-content{
max-width: 800px;
    background-color: rgba(255,255,255,0.8);
    padding: 70px;
    outline: 2px solid #1f2222;
    outline-offset: -20px;
    float: right;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.carousel-indicators .slick-active {
    background-color: #004dda;
}

.carousel-indicators li {
    background-color: #004dda;
}
.table {
    display: table;
}
.cell {
    display: table-cell;
}
.table .cell + .cell {
    max-width: 180px;
    text-align: right;
    width: 18%;
}
.right {
    text-align: right;
}
 .table .cell strong {
    display: block;
    font-weight: 700;
    padding-bottom: 6px;
    padding-right: 15px;
    font-weight: 900;
    line-height: normal;
}
 .table .cell span {
    display: block;
    font-weight: 400;
    font-size: 12px;
    padding-right: 15px;
    text-transform: uppercase;
    line-height: normal;
}
.table .cell .rounded {
    border-radius: 100% !important;
    max-width: 90px;
}
.slide-content .sub.center {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714285714285714;
    margin-bottom: 15px;
    text-align: center;
}
.main.center {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714285714285714;
    margin-bottom: 34px;
}
.carousel-inner{
    overflow: visible;
}
.testimonial_outer .carousel{
    display: inline-block;
    width: 100%;
}
.testimonial_outer .carousel-indicators {
      left: auto;
    margin-right: 0;
    margin-left: 0;
    right: 70px;
    margin-bottom: 0;
    bottom: 40px;
}
.slide-content {
    text-align: center;
}
.ch-part  img {
    margin: 0 auto;
    max-width: 180px;
}
.slide-content ul li {
    line-height: normal;
}
#part .slide-content {
    max-width: 75%;
    margin: 0 auto;
}
#part ul.carousel-indicators {
    bottom: -60px;
}
.text_main {
    margin-bottom: 30px;
}
.carousel-control-prev i,.carousel-control-next i{
font-size: 30px;color: #004dda;
opacity: 1;
}
footer {
    float: left;
    width: 100%;
    background:#1f2222;
    background-size: cover;
    padding: 60px 0 20px;
}
footer p, footer a {
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.5;
}
footer h5 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
        position: relative;
}
footer li {
    margin-bottom: 5px;
}
footer .copyright {
    float: left;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #292c2a;
    padding-top: 20px;
}
footer .copyright p {
    margin: 0;
    color: #5e6060;
    font-size: 10px;
    text-transform: uppercase;
}
.ft-disclaimber {
    color: #5e6060;
    font-size: 10px;
    padding: 0 ;
}

.newsletter.newsletter-widget {
    position: relative;
}
.newsletter.newsletter-widget input.form-control {
    border-radius: 0;
    min-height: 44px;
}
.newsletter input.btn.btn-solid {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    padding: 10px 20px;
    height: 100%;
    min-width: auto;
    line-height: normal;
}
.login_icon ul li {
    display: inline-block;
    font-size: 17px;
    margin-right: 18px;
}
.login_icon a {
    color: #fff;
    font-size: 14px;
}
.login_icon ul{
    margin: 0;
}
.login_icon {
    padding: 5px 0px;
}
span.desktop-cta {
    margin-left: 20px;
}
.navbar-nav li a {
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 8px;
    font-size: 13px;
    font-weight: 500;
}
section.start-explore-wpr{
    padding-bottom: 50px;
}
section.where-do-wpr{
    background-image: url('/images/bg2.jpg');
    background-size: cover;
        background-position: bottom;
}
.home-explore-info .home-explore-box .info-box p {
    min-height: 100px;
    margin: 0;
}
/*.home-explore-box {
    background: #f9f9f9;
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}*/
.pad-40-t{
    padding-top: 40px;
}

.graduate-wpr-rt {
    background: #fff;
    padding:  40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
}
.login_icon ul li:last-child{
    margin: 0;
}
.exp-left {
    padding-right: 50px;
}
/*section.start-explore-wpr .row {
    align-items: center;
}*/
footer h5::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background: #004dda;
    bottom: -10px;
}
.carousel-indicators li {
    text-indent: 0;
    display: inline-block;
    width: auto;
    background: transparent;
    height: auto;
    border: none;
    margin: 0;
    line-height: 0;
    opacity: 1;
}
.carousel-indicators li a {
    font-size: 0;
    width: 30px;
    height: 5px;
    margin: 0px 3px;
    background: #004dda;
    display: inline-block;
}
.container.auth { max-width: 1140px;}
.container.auth .auth-a { background: #f9f9f9; }
.not-found { padding: 80px; }
 .course-menu li {
    display: inline-block;
    padding: 0 19px;
    text-transform: uppercase;
}
.course-menu li h3 {
    margin: 0;
    font-size: 14px;
}
ul#course-menu {
    margin: 5px 0px;
}
.course-menu li a {
    color: #fff;
}
span.desktop-cta a.btn.btn-header{
    font-size: 13px;
    padding: 10px;
    min-width: inherit;
}
a:not([href]):not([tabindex]) { color: #fff; }
li.nav-item.parent:hover ul.submenu {
    display: block;
}
li.nav-item.parent {
    position: relative;
}
ul.submenu {
  top: 100%;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: none;
    z-index: 9;
    min-width: 200px;
}
.submenu.show { display: block;}
ul.submenu li:hover{
      background: #004dda;
}
nav.navbar-light ul.submenu li a:hover{
  color: #fff !important;
}
.testimonial_outer button.slick-arrow {
    display: none !important;
}
ul.submenu a.nav-link {
    text-transform: capitalize;
}
main.profile_main {
    padding: 60px 0px 100px;
}
.list-group-flush .list-group-item i {
    margin-right: 10px;
}
#sidebar-wrapper .list-group-item {
    background-color: #f8f9fa;
    transition: 0.5s;
}
#sidebar-wrapper {
    border: none !important;
}
main.profile_main form.user .btn-user{
    width: auto;
}
.profile_main .p-5.module-list .text-center > h1 {
    margin-bottom: 0px !important;
}
.profile_main .p-5.module-list .text-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    text-align: left !important;
}
.profile_main .p-5 .text-center {
    text-align: left !important;
}
.profile_main .p-5 {
    background: #f8f9fa;
    float: left;
    width: 100%;
    overflow: auto;
}
.profile_main table.table {
    background: #fff;
}
#sidebar-wrapper .list-group-item:hover {
    background-color: #004dda;
    color: #fff;
}
#sidebar-wrapper a.list-group-item.list-group-item-action.active {
    background-color: #004dda;
}
.module_content {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nxt_btn {
    position: absolute;
    top: 0;
   right: 0;
}
.p-5.module-list .nxt_btn {
    position: initial !important;
}
.dropdown img {
    height: 26px;
    line-height: 0;
    max-width: 36px;
}
button#dropdownMenuButton {
    min-width: auto;
    padding: 0;
    background-color: #eee;
    border-radius: 0;
}
.dropdown .dropdown-toggle::after {
    border-top: .3em solid #004dda;
    margin: 0px 5px;
    position: relative;
top: 4px;
}
.dropdown .dropdown-menu a.dropdown-item {
    color: #333;padding: 5px 10px;
}
.dropdown .dropdown-menu a.dropdown-item i{
    margin-right: 5px;
}
.dropdown .dropdown-menu {
    left: auto;
}
header .dropdown .dropdown-menu {
    right: 0;
    left: auto;
}
a.btn.btn-user.btn-block.btn_quiz {
    display: inline-block;
    width: auto;
}

/*************/
#quizcontainer input[type=radio].css-checkbox {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

#quizcontainer input[type=radio].css-checkbox + label.css-label {
    padding-left: 33px;
    height: 28px;
    display: inline-block;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;

}

#quizcontainer input[type=radio].css-checkbox:checked + label.css-label {
background-position: 0 -28px;
}
#quizcontainer label.css-label {
background-image:url('/images/csscheckbox.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.quiz_wrap,#quizcontainer {
    margin-bottom: 50px;
}
#altcontainer {
    margin-bottom: 20px;
}
.quiz_result {
    text-align: center;
        color: #000;
}
.time_span p {
    margin: 0;
    font-size: 20px;
    color: #000;
}
.test_detail {
    font-size: 20px;
}
.learn-interest-inner-wpr .btn.btn-ghost:hover {
    border-color: #004dda;
    color: #fff;
}
section.hero-banner::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgba(0,0,0,.5);
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: 0;
}
@media(max-width: 1366px){
	.navbar-expand-lg .navbar-nav .nav-link{
		font-size: 12px;
	}
}
@media (min-width: 992px) and  (max-width: 1199px){
.container {
    max-width: 100%;
}
.course-menu li {
    padding: 0 8px;
}
}

@media(max-width: 1200px){
    .info-box h3 {
    font-size: 15px;
    margin-bottom: 10px;
    left: 0;
}
.home-explore-info .home-explore-box .info-box p {
    font-size: 14px;
    line-height: normal;
}
   a.navbar-brand img {
    max-width: 100px;
}
.navbar-expand-lg .navbar-nav .nav-link {
        text-transform: capitalize;
    }
}

@media(min-width: 991px) and (max-width: 1270px){
   .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 5px;
    }
    span.desktop-cta a.btn.btn-header{
        padding: 5px 10px;
    }
    nav.navbar .container {
    padding: 0;
}
}

@media(max-width: 991px){
    .profile_main .p-5 {
    padding: 20px !important;
}
.frontApp .btn{
	padding: 10px;
}
.nxt_btn {
    display: flex;
}
.p-5.module-list .nxt_btn {
    display: block;
}
.profile_main .p-5 .h4.text-gray-900.mb-4 {
    padding-top: 75px;
}
.profile_main .p-5.module-list .h4.text-gray-900.mb-4 {
    padding-top: 0px !important;
}
.nxt_btn a {
    margin-right: 8px;
}
.p-5.module-list .nxt_btn a {
    margin-right: 0px;
}
    ul.navbar-nav li ul.submenu {
        box-shadow: none;
        position: static;
    }
    ul.navbar-nav li ul.submenu li {
        margin: 0;
    }
    li.nav-item.parent i.fa {
        float: right;
    }
     .course-menu li h3 {
        font-size: 12px;
    }
    .course-menu li{
            padding: 0 5px;
    }
        section.start-explore-wpr{
            text-align: center;
        }
        .exp-left img {
        margin: 0 auto;
    }
    .home-explore-box .icon-box{
        float: none;
    }
    .home-explore-info .home-explore-box .info-box{
        width: 100%;padding: 0;
    }
    .exp-right,.graduate-wpr-rt{
        margin-top: 40px;
    }
    .learn-interest-wpr .learn-interest-inner-wpr .learn-interest-inner-box .learn-interest-info{
        width: 100%;
    }
    .ch-part .carousel-item {
        height: auto;
    }
    #part .slide-content{
        max-width: 90%;
    }
    .home-explore-info .home-explore-box .info-box p {
         min-height: 50px;
        margin-bottom: 20px;
    }
    span.desktop-cta{
        display: none;
    }
    nav.navbar .container,.header-wrap .container {
        max-width: 100%;
    }
    ul.navbar-nav li {
        border-top: 1px solid #eee;
        margin: 0px -15px;
    }
    li.nav-item.parent ul.submenu.show {
      display: block !important;
    }
    li.nav-item.parent ul.submenu {
      display: none !important;
    }
}

@media(max-width: 767px){
    #sidebar-wrapper {
    margin-bottom: 20px;
}
.row.home-explore-info.pad-40-t > div{
	width: 100%;
	max-width: 100%;
}
.header-wrap .row > div {
    width: 100%;
    flex: 0 0 100% !important;
    max-width: 100%;
    text-align: center !important;
}
.social_icon {
    justify-content: center !important;
}
ul#course-menu {
    margin: 0px;
}
.social_icon {
    padding-bottom: 0px;
}
.login_icon {
    padding-top: 0px;
}
    .home-explore-box {
    width: 100%;
}
.homebanner-info a{
    min-width: 120px;
    padding:10px 15px;
}
.homebanner-info h2 {
    font-size: 25px;
    line-height: 30px;
    width: 100%;
    padding: 30px 0px 15px 0px;
    word-wrap: break-word;
}
.frontApp .btn{
    min-width: 100px;
padding: 8px 15px;
}

    section.hero-banner{
        min-height: inherit;
    }
    .title h2 {
    font-size: 25px;
}

.foo_sec {
    margin-bottom: 20px;
}
.training_sec,.part_sec{
    margin-bottom: 20px;
}
.homebanner-info {
    text-align: center;
    margin-bottom: 30px;
}
.header-wrap .col-sm-6 {
    width: 50%;
}
.modal-wrap .modal-table .modal-cell {
    width: 100%;
}
}

@media(max-width: 480px){
.homebanner-info a {
    margin: 0 auto 10px;
    display: block;
    max-width: 200px;
}
.header-wrap > div {
    padding: 0px 5px !important;
}
.nxt_btn {
    flex-direction: column;
}
.p-5.module-list .nxt_btn {
    flex-direction: row;
}
.nxt_btn a {
    margin-bottom: 10px;
}
.p-5.module-list .nxt_btn a {
    margin-bottom: 0px;
}
.nxt_btn {
    left: 0;
}
.profile_main .p-5 .h4.text-gray-900.mb-4 {
    padding-top: 140px;
}
.profile_main .p-5 .text-center {
    flex-wrap: wrap;
    flex-direction: column;
}
.profile_main .p-5 .nxt_btn {
    margin-top: 15px;
}
    .learn-interest-inner-box .learn-interest-info p {
    margin-bottom: 20px;
}
.graduate-wpr-rt {
    padding: 30px 20px;
    }
    .testimonial_outer .carousel-item .slide-content,
    .learn-interest-wpr .learn-interest-inner-wpr .learn-interest-inner-box .learn-interest-info {
    padding: 40px 20px;
    outline-offset: -10px;
}

.social_icon ul li {
    margin-right: 10px;
}
.login_icon a {
    font-size: 13px;
}
}
