@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border: none;
    max-width: 100%;
    width: auto;
    height: auto;
}

a,
li {
    text-decoration: none !important;
    color: #313030;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

ul li {
    list-style: none;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #004dda;
}

input,
select,
textarea {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      font-weight: 600;
  font-family: 'Poppins', sans-serif;
    color: #000;
}
[tooltip]{ position:relative;display:inline-block; }
[tooltip]::before { content: "";position: absolute;top:-6px;left:50%;transform: translateX(-50%);border-width: 4px 6px 0 6px;border-style: solid;border-color: rgba(0,0,0,0.7) transparent;z-index: 99;opacity:0; }
[tooltip]::after { content: attr(tooltip);position: absolute;left:50%;top:-6px;transform: translateX(-50%) translateY(-100%);background: rgba(0,0,0,0.7);text-align: center;color: #fff;padding:4px 2px;font-size: 12px;min-width: 80px;border-radius: 5px;pointer-events: none;padding: 4px 4px;z-index:99;opacity:0; }
[tooltip]:hover::after,[tooltip]:hover::before { opacity:1; }
@media (min-width: 1200px){
.container {
    max-width: 1440px;
    width: 100%;
}
section.learn-interest-wpr,section.future-wpr{
    background-attachment: fixed;
}
}
.header-wrap {
    background: #004dda;
}
.social_icon ul li {
    display: inline-block;
    font-size: 17px;
    margin-right: 18px;
}
.social_icon a {
    color: #fff;
}
.social_icon ul {
    margin: 0;
}
.social_icon ul li:last-child{
    margin: 0;
}
.social_icon ul li i {
    color: #fff;
}
.social_icon {
    display: flex;
    padding: 5px 0px;
    justify-content: flex-start;
}
a.navbar-brand img {
    max-width: 150px;
}
span.desktop-cta a{
    background-color: #004dda;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: .05em;
        min-width: 200px;
    padding: 14px 42px;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-clip: padding-box;
}
nav.navbar {
    background: #f4f4f4;
    box-shadow: 0 1px 1px rgba(0,0,0,.18);
}

a.btn:hover {
    background: #1f2222;    color: #fff;
}
section.hero-banner {
    background-image:url('https://cdn2.hubspot.net/hubfs/2025588/landing-pages/home-page/sollers-hp-4.jpg');
    min-height: 630px;
}
.modal-wrap .modal-table {
    min-height: 480px;
    display: table;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.modal-wrap .modal-table .modal-cell {
    display: table-cell;
    padding: 20px;
    vertical-align: middle;
}
 .homebanner-info {
    text-align: left;
}
.homebanner-info h2 {
    font-size: 68px;
    line-height: 70px;
   padding-bottom: 30px;
    font-weight: 700;
        text-transform: uppercase;
}
 .frontApp .btn {
    background-color: #004dda;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: .05em;
        min-width: 200px;
    padding: 14px 42px;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-clip: padding-box;
}
 .homebanner-info a {
    margin-bottom: 10px;
    font-size: 14px;
    margin: 0 10px 0 0;
    display: inline-block;
}
.pad-70-tb {
    padding-bottom: 70px;
    padding-top: 70px;
}
.title h2 {
    color: #004dda;
    font-weight: 600;
    font-size: 48px;
}
.title span {
    color: #1f2222;
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}
.home-explore-box .icon-box {
    width: 90px;
    height: 90px;
    padding: 17px 0;
    margin: 0 auto 30px;
    border: 5px solid #f2f2f2;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    float: left;
}
.home-explore-box .icon-box img {
    display: block;
    margin: auto;
    max-width: 46px;
}
.home-explore-info .home-explore-box .info-box {
    float: left;
    width: 68%;
    padding-left:15px;
}
.info-box h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
 .info-box a {
    font-weight: 700;
    text-decoration: underline !important;
}
section.learn-interest-wpr {
       background-image: url(/images/college-home-interest.jpg);
    background-size: cover;
    background-position: center;
}
.learn-interest-wpr .learn-interest-inner-wpr {
    margin: 50px auto;
    float: right;
}
.learn-interest-wpr .learn-interest-inner-wpr .learn-interest-inner-box .learn-interest-info {
    background-color: #fff;
    width: 450px;
    outline: 2px solid #004dda;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    outline-offset: -20px;
}
.pad-70-all {
    padding: 70px;
}
.learn-interest-inner-box .learn-interest-info p {
    margin-bottom: 50px;
}
section.where-do-wpr .row {
    align-items: center;
}
.graduate-wpr-rt p {
    padding-top: 30px;
}
section.future-wpr {
    background-image: url(/images/cl-bg.jpg);
     background-size: cover;
    background-position: center;
}
.testimonial_outer .carousel-item .slide-content{
max-width: 800px;
    background-color: rgba(255,255,255,0.8);
    padding: 70px;
    outline: 2px solid #1f2222;
    outline-offset: -20px;
    float: right;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.carousel-indicators .slick-active {
    background-color: #1f2222;
}

.carousel-indicators li {
    background-color: #004dda;
}
.table {
    display: table;
}
.cell {
    display: table-cell;
}
.table .cell + .cell {
    max-width: 180px;
    text-align: right;
    width: 18%;
}
.right {
    text-align: right;
}
 .table .cell strong {
    display: block;
    font-weight: 700;
    padding-bottom: 6px;
    padding-right: 15px;
    font-weight: 900;
    line-height: normal;
}
 .table .cell span {
    display: block;
    font-weight: 400;
    font-size: 12px;
    padding-right: 15px;
    text-transform: uppercase;
    line-height: normal;
}
.table .cell .rounded {
    border-radius: 100% !important;
    max-width: 90px;
}
.slide-content .sub.center {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714285714285714;
    margin-bottom: 15px;
    text-align: center;
}
.main.center {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714285714285714;
    margin-bottom: 34px;
}
.carousel-inner{
    overflow: visible;
}
.testimonial_outer .carousel{
    display: inline-block;
    width: 100%;
}
.testimonial_outer .carousel-indicators {
      left: auto;
    margin-right: 0;
    margin-left: 0;
    right: 70px;
    margin-bottom: 0;
    bottom: 40px;
}
.slide-content {
    text-align: center;
}
.ch-part  img {
    margin: 0 auto;
    max-width: 180px;
}
.slide-content ul li {
    line-height: normal;
}
#part .slide-content {
    max-width: 75%;
    margin: 0 auto;
}
#part ul.carousel-indicators {
    bottom: -60px;
}
.text_main {
    margin-bottom: 30px;
}
.carousel-control-prev i,.carousel-control-next i{
font-size: 30px;color: #004dda;
opacity: 1;
}
footer {
    float: left;
    width: 100%;
    background:#1f2222;
    background-size: cover;
    padding: 60px 0 20px;
}
footer p, footer a {
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.5;
}
footer h5 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
        position: relative;
}
footer li {
    margin-bottom: 5px;
}
footer .copyright {
    float: left;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #292c2a;
    padding-top: 20px;
}
footer .copyright p {
    margin: 0;
    color: #5e6060;
    font-size: 10px;
    text-transform: uppercase;
}
.ft-disclaimber {
    color: #5e6060;
    font-size: 10px;
    padding: 0 ;
}

.newsletter.newsletter-widget {
    position: relative;
}
.newsletter.newsletter-widget input.form-control {
    border-radius: 0;
    min-height: 44px;
}
.newsletter input.btn.btn-solid {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    padding: 10px 20px;
    height: 100%;
    min-width: auto;
    line-height: normal;
}
.login_icon ul li {
    display: inline-block;
    font-size: 17px;
    margin-right: 18px;
}
.login_icon a {
    color: #fff;
    font-size: 14px;
}
.login_icon ul{
    margin: 0;
}
.login_icon {
    padding: 5px 0px;
}
span.desktop-cta {
    margin-left: 20px;
}
.navbar-nav li a {
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 8px;
    font-size: 13px;
    font-weight: 500;
}
section.start-explore-wpr{
    padding-bottom: 50px;
}
section.where-do-wpr{
    background-image: url('/images/bg2.jpg');
    background-size: cover;
        background-position: bottom;
}
.home-explore-info .home-explore-box .info-box p {
    min-height: 100px;
    margin: 0;
}
.home-explore-box {
    background: #f9f9f9;
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.pad-40-t{
    padding-top: 40px;
}

.graduate-wpr-rt {
    background: #fff;
    padding:  40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.08);
}
.login_icon ul li:last-child{
    margin: 0;
}
.exp-left {
    padding-right: 50px;
}
section.start-explore-wpr .row {
    align-items: center;
}
footer h5::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background: #004dda;
    bottom: -10px;
}
.carousel-indicators li {
    text-indent: 0;
    display: inline-block;
    width: auto;
    background: transparent;
    height: auto;
    border: none;
    margin: 0;
    line-height: 0;
}
.carousel-indicators li a {
    font-size: 0;
    width: 30px;
    height: 5px;
    margin: 0px 3px;
    background: red;
    display: inline-block;
}
.container.auth { max-width: 1140px;}
.container.auth .auth-a { background: #f9f9f9; }
.not-found { padding: 80px; }
 .course-menu li {
    display: inline-block;
    padding: 0 19px;
    text-transform: uppercase;
}
.course-menu li h3 {
    margin: 0;
    font-size: 14px;
}
ul#course-menu {
    margin: 5px 0px;
}
.course-menu li a {
    color: #fff;
}
span.desktop-cta a.btn.btn-header{
    font-size: 13px;
    padding: 10px;
    min-width: inherit;
}
a:not([href]):not([tabindex]) { color: #fff; }
@media(max-width: 1366px){
	.navbar-expand-lg .navbar-nav .nav-link{
		font-size: 12px;
	}
}
@media (min-width: 992px) and  (max-width: 1199px){
.container {
    max-width: 100%;
}
}

@media(max-width: 1200px){
    .info-box h3 {
    font-size: 15px;
    margin-bottom: 10px;
    left: 0;
}
.home-explore-info .home-explore-box .info-box p {
    font-size: 14px;
    line-height: normal;
}
   a.navbar-brand img {
    max-width: 100px;
}
.navbar-expand-lg .navbar-nav .nav-link {
        text-transform: capitalize;
    }
}

@media(min-width: 991px) and (max-width: 1270px){
   .navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 5px;
    }
    span.desktop-cta a.btn.btn-header{
        padding: 5px 10px;
    }
    nav.navbar .container {
    padding: 0;
}
}

@media(max-width: 991px){
 .course-menu li h3 {
    font-size: 12px;
}
.course-menu li{
        padding: 0 5px;
}
    section.start-explore-wpr{
        text-align: center;
    }
    .exp-left img {
    margin: 0 auto;
}
.home-explore-box .icon-box{
    float: none;
}
.home-explore-info .home-explore-box .info-box{
    width: 100%;padding: 0;
}
.exp-right,.graduate-wpr-rt{
    margin-top: 40px;
}
.learn-interest-wpr .learn-interest-inner-wpr .learn-interest-inner-box .learn-interest-info{
    width: 100%;
}
.ch-part .carousel-item {
    height: auto;
}
#part .slide-content{
    max-width: 90%;
}
.home-explore-info .home-explore-box .info-box p {
     min-height: 50px;
    margin-bottom: 20px;
}
span.desktop-cta{
    display: none;
}
nav.navbar .container,.header-wrap .container {
    max-width: 100%;
}
ul.navbar-nav li {
    border-top: 1px solid #eee;
    margin: 0px -15px;
}
}

@media(max-width: 767px){
    .header-wrap {
    display: none;
}
    .home-explore-box {
    width: 100%;
}
.homebanner-info a{
    min-width: 120px;
    padding:10px 15px;
}
.homebanner-info h2 {
    font-size: 40px;
    line-height: normal;
    }
    section.hero-banner{
        min-height: inherit;
    }
    .title h2 {
    font-size: 35px;
}

.foo_sec {
    margin-bottom: 20px;
}
.training_sec,.part_sec{
    margin-bottom: 20px;
}
.homebanner-info {
    text-align: center;
}
.header-wrap .col-sm-6 {
    width: 50%;
}
}

@media(max-width: 480px){
.homebanner-info a {
    margin: 0 auto 10px;
    display: block;
    max-width: 200px;
}
.homebanner-info h2 {
    font-size: 30px;
    }
    .learn-interest-inner-box .learn-interest-info p {
    margin-bottom: 20px;
}
.graduate-wpr-rt {
    padding: 30px 20px;
    }
    .testimonial_outer .carousel-item .slide-content,
    .learn-interest-wpr .learn-interest-inner-wpr .learn-interest-inner-box .learn-interest-info {
    padding: 40px 20px;
    outline-offset: -10px;
}

.social_icon ul li {
    margin-right: 10px;
}
.login_icon a {
    font-size: 13px;
}
}
